ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    background: #ffc4d6;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current{
    background: white;
    border: solid black 1px;
    border-bottom-color: white;
}

.tab-content{
    display: none;
    background: white;
    padding: 15px;
}

#bio{
position: relative;
top: 20px;
margin-right: 20px;
background-color: #cec4cb;
margin-top: 0px;
  width: 340px;
  height: 550px;
  border: 5px solid black;
}

#tree-description{
margin-top: 10px;
margin-right: 20px;
  width: 350px;
  height: 550px;
}

.tab-content.current{
    display: inherit;
    background: white;
}

#container{
    display: flex;
}



body {
    font-family: Lato;
    background-color: #ffc4d6;
}

/*.label{
  margin-left: 100px;
}*/

#map-container{
  display: flex;
    /*float: left;*/
    justify-content: space-around;
    width: 100%;
    height: 420px;
    padding-left: 2%;
    padding-right: 2%;
}

#tree{
    /*display: flex;*/
    justify-content: space-around;
    width: 100%;
    height: 570px;
    padding-left: 2%;
    padding-right: 2%;
}
#tree-container{
  height: 635px;
}

#occupations-container{
    display: flex;
      /*float: left;*/
      justify-content: space-around;
      width: 100%;
      height: 620px;
      padding-left: 2%;
      padding-right: 2%;
  }

h1 {
    font-family: "Arvo";
    font-size:35px;
    color: #464646;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    margin-left: 20px;
}

#map {
  width: 750px;
  height: 400px;
  margin-right: 2%;
}

#map3 {
  margin-top: 0px;
  width: 750px;
  height: 400px;
}

.info{
    /*margin-left: 20px;*/
}

.end{
    text-anchor:end;
}

.Axis{
    stroke: #eee;
    stroke-width: 4;
}
.content {
    display: inline-block;
    width: 70%;
}

.sideBar {
    display: inline-block;
    width: 30%;
    float:right;
}


.fullView{
    display: inline-block;
    width: 100%;
}

.selected{
    stroke: #404040;;
    stroke-width:4;
    r:25px;
}


h2{
    margin-left: 5px;
    margin-right: 5px;
    -webkit-margin-before: 5px;
    -webkit-margin-after:  5px;
}
.d3-tip {
    /*line-height: 5;*/
    padding-left: 10px;
    width: 280px;
    position: relative;
    padding-right: 10px;
    min-width: 250px;
    font-size: 16px;
    border-style: groove;
    /*padding: 12px;*/
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    pointer-events: none;
}
.tooltip-title{
    font-size:18px;
    font-family: "Arial Black";

}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    /*box-sizing: border-box;*/
    display: inline;
    font-size: 12px;
    width: 100%;
    /*line-height: 1;*/
    color: rgba(0, 0, 0, 0.8);
    /*position: relative;*/
    pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    /*margin: -1px 0 0 0;*/
/*    top: 100%;
    left: 0;*/
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
    content: "\26A0";
    /*margin: -4px 0 0 0;*/
/*    top: -800px;
    left: -8px;*/
}

/* Southward tooltips */
.d3-tip.s:after {
    content: "\25B2";
    /*margin: 4px 0 1px 0;*/
/*    top: -8px;
    left: 1481px;*/
    text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
    content: "\25B6";
    /*margin: -4px 0 0 -1px;*/
/*    top: 50%;
    left: 100%;*/
}

h3{
    text-anchor:middle;
    font-size: 32px;
}

*{
  padding: 0;
  margin: 0;
}

h2,p,form{
  margin-left: 20px;
  /*margin-right: 1%;*/
  }

  ul{
    margin-left: 40px;
    /*margin-right: 1%;*/
    }

/*https://www.w3schools.com/howto/howto_css_switch.asp*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #ce0037;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #ce0037;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  #info{
    margin-left:0px;
      width: 90%;
  }

  #h4{
    margin-left:0px;
  }
